env:
  MODEL_ID: Qwen/Qwen3-4B-AWQ
  MODEL_DIR: hf-model
  IMAGE_NAME: qwen3-4b-awq-vllm
  REGISTRY: hub.docker.com
  REGISTRY_NAME: josephvano  # replace with your Docker Hub username

name: Publish Docker Image

on:
  push:
    branches: [ main ]

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.vars.outputs.version }}
    steps:
      - uses: actions/checkout@v5

      - name: Node
        uses: actions/setup-node@v5
        with:
          node-version: '24'
      - name: Capture next version for web
        id: vars
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm install -g semantic-release @semantic-release/github @semantic-release/git @semantic-release/exec @semantic-release/commit-analyzer @semantic-release/release-notes-generator @semantic-release/changelog conventional-changelog conventional-changelog-conventionalcommits
          DEBUG=semantic-release* semantic-release --dry-run --generate-notes false
          cat VERSION
          echo ::set-output name=version::$(cat VERSION)
      - name: Echo version
        run: echo ${{ steps.vars.outputs.version }}
  publish:
    needs: [ version ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Cleanup
        run: |
          docker system prune -af
          sudo rm -rf /tmp/*

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY_NAME }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY_NAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.REGISTRY_NAME }}/${{ env.IMAGE_NAME }}:${{ needs.version.outputs.version }}
          build-args: |
            MODEL_ID=${{ env.MODEL_ID }}
            MODEL_DIR=${{ env.MODEL_DIR }}